@font-face {
  font-family: "script";
  src: url("./assets/fonts/the_wedding_signature/TheWeddingSignature-Regular.woff")
      format("woff"),
    url("./assets/fonts/the_wedding_signature/TheWeddingSignature-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tiramisu";
  src: url("./assets/fonts/tiramisu/Tiramisu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "callista";
  src: url("./assets/fonts/calista/Callista.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modern-sans";
  src: url("./assets/fonts/modern_sans/ModernSans-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "watermint";
  src: url("./assets/fonts/watermint/WatermintScript_PERSONAL_USE_ONLY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "autography";
  src: url("./assets/fonts/autography/Autography.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yustine";
  src: url("./assets/fonts/yustine_signature/YustineSignature.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksand";
  src: url("./assets/fonts/quicksand/Quicksand_Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksand-bold";
  src: url("./assets/fonts/quicksand/Quicksand_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lt-perfume";
  src: url("./assets/fonts/lt_perfume/LTPerfume-2.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
